*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 20px 10%;
}
button{
    background-color: white;
    color: rgb(246, 71, 71);
    width: 10%;
    font-size: 15px;
    border: none;
    padding: 5px 0;
}
img{
    margin: 10px 2%;
    width:20% ;
}